@charset "UTF-8";
/*------------------------------------------Variables---------------------------------------------*/
/* Colors */
/* Fonts */
/*------------------------------------------Extends-----------------------------------------------*/
/*------------------------------------------Mixins------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700;900&display=swap");
header {
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: #fff; }
  body.dark-mode-colors header {
    background: #37383c; }
  header nav {
    display: flex;
    justify-content: space-between;
    /*ANIMACIÓN DE LA CRUZ*/ }
    header nav ul {
      background: #572ee5;
      width: 100%;
      position: absolute;
      top: 5.2rem;
      right: 0;
      overflow: hidden;
      list-style: none;
      height: 0;
      opacity: 90%; }
      body.dark-mode-colors header nav ul {
        background: #000;
        opacity: 100%; }
      header nav ul hr {
        background-color: #fff;
        height: 1px;
        width: 12%; }
      header nav ul li {
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        list-style: none; }
        header nav ul li a {
          font-family: "Montserrat", sans-serif;
          font-size: 0.938rem;
          font-weight: 700;
          color: #fff;
          position: relative;
          padding: 0.5rem 0rem;
          display: block;
          text-decoration: none; }
          header nav ul li a:hover {
            border-bottom: 0.2rem solid #50e3c2;
            padding-bottom: 0.2rem; }
          header nav ul li a:active {
            color: rgba(6, 10, 36, 0.56); }
      header nav ul li:first-child {
        margin-top: 2rem; }
    header nav .nav-logo {
      width: 48px; }
    header nav .nav-box-one {
      background-color: #fff;
      padding: 29px 22px 22px 22px; }
      body.dark-mode-colors header nav .nav-box-one {
        background: #37383c; }
    header nav .nav-box-two {
      padding: 47px 22px 34px 0;
      /*CHECKBOX*/
      /*LINEAS DE MENU HAMBURGUESA*/ }
      header nav .nav-box-two input[type="checkbox"]:checked ~ ul {
        min-height: 100vh; }
      header nav .nav-box-two input {
        display: block;
        top: 32px;
        right: 9px;
        height: 40px;
        width: 40px;
        opacity: 0;
        z-index: 2;
        position: absolute; }
      header nav .nav-box-two span {
        display: block;
        width: 20px;
        height: 2px;
        margin-bottom: 4.5px;
        background: #572ee5;
        z-index: 1;
        transform-origin: 3px 0px; }
        body.dark-mode-colors header nav .nav-box-two span {
          background: #fff; }
      header nav .nav-box-two span:first-child {
        transform-origin: 0% 0%; }
      header nav .nav-box-two span:nth-last-child(2) {
        transform-origin: 0% 100%; }
    header nav input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(1px, 0px);
      -webkit-transform: rotate(45deg) translate(1px, 0px);
      -moz-transform: rotate(45deg) translate(1px, 0px);
      -ms-transform: rotate(45deg) translate(1px, 0px);
      -o-transform: rotate(45deg) translate(1px, 0px); }
    header nav input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
      -webkit-transform: rotate(0deg) scale(0.2, 0.2);
      -moz-transform: rotate(0deg) scale(0.2, 0.2);
      -ms-transform: rotate(0deg) scale(0.2, 0.2);
      -o-transform: rotate(0deg) scale(0.2, 0.2); }
    header nav input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(1px, 0px);
      -webkit-transform: rotate(-45deg) translate(1px, 0px);
      -moz-transform: rotate(-45deg) translate(1px, 0px);
      -ms-transform: rotate(-45deg) translate(1px, 0px);
      -o-transform: rotate(-45deg) translate(1px, 0px); }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 3s ease all;
  -webkit-transition: 3s ease all;
  -moz-transition: 3s ease all;
  -ms-transition: 3s ease all;
  -o-transition: 3s ease all; }
  body.dark-mode-colors {
    background-color: #37383c; }

a {
  text-decoration-line: none;
  -moz-text-decoration-line: none; }

h1,
h2,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572ee5;
  margin-bottom: 0;
  letter-spacing: 0;
  text-align: center; }
  body.dark-mode-colors h1, body.dark-mode-colors
  h2, body.dark-mode-colors
  h4 {
    color: #fff; }

h1 {
  font-size: 1.563rem;
  line-height: 2.063rem;
  padding: 1rem; }

h2 {
  font-size: 1.25rem;
  line-height: 1.875rem; }

h4 {
  font-size: 1rem;
  line-height: 1.563rem; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0;
  color: #000; }
  body.dark-mode-colors p {
    color: #fff; }

section p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.563rem;
  padding: 0 4rem;
  margin-bottom: 0;
  text-align: center;
  color: #572ee5; }
  body.dark-mode-colors section p {
    color: #fff; }

section input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  border: 1px solid #572ee5;
  border-radius: 50px;
  width: 18rem;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px; }
  body.dark-mode-colors section input {
    border: 1px solid #fff;
    background-color: #37383c;
    color: #9cafc3; }
  section input:focus {
    outline: none; }

section .inner-addon {
  position: relative; }

section .fa-search {
  margin: 5px;
  fill: #572ee5;
  width: 20px;
  height: 20px; }
  body.dark-mode-colors section .fa-search {
    fill: #fff; }

section #button-search {
  position: absolute;
  left: 15rem;
  top: 0.5rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  opacity: 0%;
  cursor: pointer;
  z-index: 2; }

section .inner-addon .fa-search {
  position: absolute;
  padding: 10px;
  pointer-events: none; }

section .right-addon .fa-search {
  right: 0px; }

#search-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0;
  justify-items: center;
  padding: 0rem 1rem;
  margin-bottom: 7rem; }

#search-img {
  max-width: 273px;
  margin-top: 2rem; }

#trending-gifos p {
  font-size: 1rem;
  line-height: 1.438rem; }

.color-title {
  color: #50e3c2; }

.left-btn {
  visibility: hidden; }

.right-btn {
  visibility: hidden; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 3rem 0 1rem 0;
  text-align: center; }
  body.dark-mode-colors footer {
    background-color: #37383c; }
  footer .social {
    display: flex;
    justify-content: center;
    flex-flow: column wrap; }
  footer .social .social-icons {
    padding: 1rem 0 2rem 0; }
    footer .social .social-icons a {
      color: #9cafc3;
      font-size: 1.125rem;
      margin-left: 1.25rem;
      margin: 0 0.5rem;
      -webkit-transition: 0.45s;
      transition: 0.45s; }
      footer .social .social-icons a:hover {
        color: #572ee5; }
    footer .social .social-icons .social a:first-child {
      margin-left: 0;
      padding-left: 0; }
    footer .social .social-icons .social a:last-child {
      margin-right: 0;
      padding-right: 0; }

@media screen and (min-width: 768px) {
  /*------------------Carousel--------------------------------------------------------------------*/
  .right-btn {
    visibility: visible; }
  .left-btn {
    visibility: visible;
    position: relative;
    top: 50%;
    left: 15%; }
  /*------------------Cards-----------------------------------------------------------------------*/
  .gif-card:hover {
    background-color: #572ee5;
    cursor: pointer; }
    .gif-card:hover .gif-buttons-container,
    .gif-card:hover .gif-username,
    .gif-card:hover .gif-title {
      opacity: 100%; }
    .gif-card:hover .gif-giphy {
      opacity: 50%; }
  /*------------------Search----------------------------------------------------------------------*/
  section #search-results-container {
    margin: 2rem;
    max-height: 50rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    section #search-results-container .gif-giphy,
    section #search-results-container .gif-card {
      width: 230px;
      height: 174px; }
  /*--------------Containers borde blanco Carousel------------------------------------------------*/ }

@media screen and (min-width: 1400px) {
  /*------------------Nav-------------------------------------------------------------------------*/
  header {
    padding: 0 9.75rem; }
    header nav .nav-box-two {
      padding: 0; }
      header nav .nav-box-two ul {
        position: relative;
        top: 0;
        right: 0;
        width: unset;
        overflow: hidden;
        background: unset;
        height: unset; }
        body.dark-mode-colors header nav .nav-box-two ul {
          background: #37383c;
          opacity: 100%; }
        header nav .nav-box-two ul li {
          padding-left: 50px;
          display: inline-block; }
          header nav .nav-box-two ul li hr {
            display: none; }
          header nav .nav-box-two ul li a {
            padding: unset;
            line-height: unset;
            color: #572ee5; }
            body.dark-mode-colors header nav .nav-box-two ul li a {
              color: #fff;
              opacity: 100%; }
            header nav .nav-box-two ul li a:active {
              color: rgba(6, 10, 36, 0.56); }
      header nav .nav-box-two input {
        display: none; }
      header nav .nav-box-two span {
        display: none; }
  /*---------------Body General-------------------------------------------------------------------*/
  h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
    max-width: 45rem; }
  h2 {
    font-size: 1.875rem;
    line-height: 3.75rem; }
  h4 {
    font-size: 1rem;
    line-height: 1.563rem; }
  section p {
    font-size: 1rem; }
  /*------------------Cards-----------------------------------------------------------------------*/
  .gif-card:hover {
    background-color: #572ee5;
    cursor: pointer; }
    .gif-card:hover .gif-buttons-container,
    .gif-card:hover .gif-username,
    .gif-card:hover .gif-title {
      opacity: 100%; }
    .gif-card:hover .gif-giphy {
      opacity: 50%; }
  /*------------------Search----------------------------------------------------------------------*/
  section #search-results-container {
    margin: 0 12rem;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem; }
  /*-----------------Trending---------------------------------------------------------------------*/
  #trending-gifos br {
    display: none; }
  #trending-gifos p {
    font-size: 1.125rem; }
  /*------------------Footer----------------------------------------------------------------------*/
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 9.75rem; }
    footer .social {
      flex-direction: row; }
      footer .social p {
        margin-right: 1.5rem; } }

@media screen and (min-width: 1700px) {
  /*------------------Carousel--------------------------------------------------------------------*/
  .carousel .gif-giphy {
    max-width: 357px;
    height: 275px; }
  /*------------------Search----------------------------------------------------------------------*/
  section #search-results-container {
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(3, 2fr);
    grid-gap: 1rem; }
    section #search-results-container .gif-card {
      width: 320px;
      height: 242px; }
    section #search-results-container .gif-giphy {
      padding: 0;
      margin: 0;
      width: 320px;
      height: 242px;
      object-fit: cover; } }

#search-results-container {
  padding: 0 1rem;
  max-height: 50rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  justify-items: center; }

.gif-giphy,
.gif-card {
  width: 156px;
  height: 120px;
  position: relative; }

.gif-buttons-container {
  top: 0.5rem;
  right: 0.5rem;
  display: inline-flex;
  position: absolute;
  opacity: 0%; }

.img-btn {
  width: 32px;
  height: 32px;
  margin: 0.2rem;
  border: 1px solid #572ee5;
  cursor: pointer;
  border-radius: 6px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px; }

.gif-username {
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  position: absolute;
  text-align: left;
  bottom: 70px;
  left: -45px;
  color: #fff;
  opacity: 0; }

.gif-title {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  text-align: left;
  bottom: 20px;
  left: -45px;
  color: #fff;
  opacity: 0; }

.btn {
  position: absolute;
  transform: translateY(-50%);
  background: transparent;
  padding: 10px 10px 8px 10px;
  border: 1px solid #572ee5;
  cursor: pointer;
  background-color: #fff; }
  .btn:hover {
    background-color: #572ee5; }

.btn img {
  width: 20px;
  height: 20px; }
  .btn img:hover {
    color: #fff; }

/*----------------SEGUNDA VERSIÓN-----------------------------------------------------------------*/
.carousel {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  overflow-x: scroll; }

.carousel .gif-giphy {
  scroll-snap-type: x mandatory;
  margin: 0 1rem;
  max-width: 243px;
  height: 187px;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center; }

.carousel .gif-giphy:first-child {
  margin-left: 30%; }

.modal-pause {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s; }
  .modal-pause .modal-content {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    padding: 3rem; }

.modal-active {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1); }

#modal-container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 8%; }

.gif-max-modal {
  width: 100%;
  max-width: 1000px;
  height: 600px;
  text-align: center;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(1, 2fr 6fr 6fr 2fr);
  grid-template-rows: repeat(3, 1fr 8fr 2fr);
  grid-gap: 20px;
  grid-template-areas: "close close close close" "left picture picture right" "left info buttons right"; }
  .gif-max-modal div {
    display: block; }
  .gif-max-modal .gif-image {
    grid-column-start: picture;
    grid-column-end: picture;
    display: flex;
    justify-content: center; }
  .gif-max-modal .close {
    grid-column-start: close;
    grid-column-end: close;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    height: 5rem; }
  .gif-max-modal .left {
    grid-column-start: left;
    grid-column-end: left;
    grid-row-start: left;
    grid-row-end: left;
    display: flex;
    align-items: center;
    flex-direction: row-reverse; }
  .gif-max-modal .right {
    grid-column-start: right;
    grid-column-end: right;
    grid-row-start: right;
    grid-row-end: right;
    display: flex;
    align-items: center;
    flex-direction: row; }
  .gif-max-modal .gif-info {
    grid-column-start: info;
    grid-column-end: info; }
    .gif-max-modal .gif-info .gif-title {
      color: #000;
      position: unset;
      opacity: 100%; }
    .gif-max-modal .gif-info .gif-username {
      color: #000;
      position: unset;
      opacity: 100%;
      line-height: 0; }
  .gif-max-modal .gif-buttons {
    grid-column-start: buttons;
    grid-column-end: buttons;
    display: flex;
    justify-content: flex-end; }
  .gif-max-modal .gif-giphy {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 400px;
    object-fit: cover; }
  .gif-max-modal .btn {
    position: unset;
    background: #fff; }

.close-btn {
  border: none;
  background-color: transparent; }

.disp-flex-center {
  display: flex;
  justify-content: center;
  align-content: center; }
