body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 3s ease all;
	-webkit-transition: 3s ease all;
	-moz-transition: 3s ease all;
	-ms-transition: 3s ease all;
	-o-transition: 3s ease all;

	&.dark-mode-colors {
		background-color: $medium-grey;
	}
}

a {
	text-decoration-line: none;
	-moz-text-decoration-line: none;
}

h1,
h2,
h3,
h4 {
	font-family: $font-family-montserrat;
	font-weight: 700;
	color: $violet;
	margin-bottom: 0;
	letter-spacing: 0;
	text-align: center;
	body.dark-mode-colors & {
		color: $white;
	}
}

h1 {
	font-size: $font-size-twfv;
	line-height: 2.063rem;
	padding: 1rem;
}

h2 {
	font-size: $font-size-twty;
	line-height: 1.875rem;
}

h4 {
	font-size: $font-size-sxtn;
	line-height: 1.563rem;
}

p {
	font-family: $font-family-roboto;
	font-size: $font-size-frtn;
	font-weight: 400;
	line-height: 1.25rem;
	letter-spacing: 0;
	color: $black;
	body.dark-mode-colors & {
		color: $white;
	}
}

section {
	p {
		font-family: $font-family-montserrat;
		font-weight: 500;
		font-size: $font-size-frtn;
		letter-spacing: 0;
		line-height: 1.563rem;
		padding: 0 4rem;
		margin-bottom: 0;
		text-align: center;
		color: $violet;

		body.dark-mode-colors & {
			color: $white;
		}
	}

	#titleSearch {
		margin-bottom: 2rem;
	}
}

#trending-gifos {
	p {
		font-size: $font-size-sxtn;
		line-height: 1.438rem;
	}
}

.color-title {
	color: $cyan;
}

#search-results-container {
	overflow: auto;
	overflow-y: hidden;
}

#btn-results-seemore {
	display: flex;
	justify-content: center;
	flex-flow: column-reverse;
	margin-top: 4rem;
}

#see-more-btn {
	background-color: $white;
	cursor: pointer;
	border: none;
}

.no-result-img {
	display: none;
	position: relative;
	top: -3rem;
	background-color: $white;
	body.dark-mode-colors & {
		transition: 1s ease all;
		-webkit-transition: 1s ease all;
		-moz-transition: 1s ease all;
		-ms-transition: 1s ease all;
		-o-transition: 1s ease all;
		background-color: $medium-grey;
	}
}

.no-result-p {
	position: relative;
	top: -3rem;
	font-weight: 700;
	font-size: $font-size-twtw;
	margin-bottom: 2rem;
	color: $cyan;
	display: none;
}

.hidden {
	display: none;
}

.visible {
	display: unset;
}

/*-------------------------Input Barra Search-----------------------------------------------------*/

input {
	font-family: $font-family-roboto;
	font-size: $font-size-sxtn;
	font-weight: 400;
	padding: 1rem;
	border: 1px solid $violet;
	border-radius: 50px;
	width: 18rem;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	body.dark-mode-colors & {
		border: 1px solid $white;
		background-color: $medium-grey;
		color: $light-grey;
	}
	&:focus {
		outline: none;
	}
	ul li {
		background-color: $cyan;
	}
}

#input-text {
	position: relative;
	right: 6%;
}

#button-search,
#button-search-nav {
	position: absolute;
	left: 15.5rem;
	top: 0.2rem;
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	opacity: 0%;
	cursor: pointer;
	z-index: 2;
}

.inner-addon .fa-search {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

.right-addon .fa-search {
	right: 0px;
}

#search-section {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 0;
	justify-items: center;
	padding: 0rem 1rem;
	margin-bottom: 7rem;
}

#search-img {
	max-width: 273px;
	margin-top: 2rem;
}

.inner-addon {
	position: relative;
}

.fa-search {
	margin: 5px;
	fill: $violet;
	width: 20px;
	height: 20px;
	z-index: 2;
	left: 85%;

	body.dark-mode-colors & {
		fill: $white;
	}
}

/*-------------------------Input Barra Search FIN-------------------------------------------------*/

/*-----------------------------Input Datalist-----------------------------------------------------*/
.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
	font-family: $font-family-roboto;
	font-size: $font-size-sxtn;
	width: 18rem;
	color: $light-grey;
}

input[type="text"] {
	background-color: #f1f1f1;
	width: 100%;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid $violet;
	background-color: $white;
	border-top: none;
	z-index: 0;
	width: 111%;
	/*positiontheautocompleteitemstobethesamewidthasthecontainer:;
	*/
	padding: 10% 0;
	top: 50%;
	right: -5.9%;

	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/
	color: $white;
	background-color: $violet;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	color: $violet;
}
