body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 3s ease all;
	-webkit-transition: 3s ease all;
	-moz-transition: 3s ease all;
	-ms-transition: 3s ease all;
	-o-transition: 3s ease all;

	&.dark-mode-colors {
		background-color: $medium-grey;
	}
}

a {
	text-decoration-line: none;
	-moz-text-decoration-line: none;
}

h1,
h2,
h3,
h4 {
	font-family: $font-family-montserrat;
	font-weight: 700;
	color: $violet;
	margin-bottom: 0;
	letter-spacing: 0;
	text-align: center;
	body.dark-mode-colors & {
		color: $white;
	}
}

h1 {
	font-size: $font-size-twfv;
	line-height: 2.063rem;
	padding: 1rem;
}

h2 {
	font-size: $font-size-twty;
	line-height: 1.875rem;
}

h4 {
	font-size: $font-size-sxtn;
	line-height: 1.563rem;
}

p {
	font-family: $font-family-roboto;
	font-size: $font-size-frtn;
	font-weight: 400;
	line-height: 1.25rem;
	letter-spacing: 0;
	color: $black;
	body.dark-mode-colors & {
		color: $white;
	}
}

section {
	p {
		font-family: $font-family-montserrat;
		font-weight: 500;
		font-size: $font-size-frtn;
		letter-spacing: 0;
		line-height: 1.563rem;
		padding: 0 4rem;
		margin-bottom: 0;
		text-align: center;
		color: $violet;

		body.dark-mode-colors & {
			color: $white;
		}
	}

	#titleSearch {
		margin-bottom: 2rem;
	}
}

#trending-gifos {
	p {
		font-size: $font-size-sxtn;
		line-height: 1.438rem;
	}
}

.color-title {
	color: $cyan;
}

#search-results-container,
#favorites-results-container {
	overflow: auto;
	overflow-y: hidden;
}

#btn-results-seemore,
#btn-results-grabar {
	display: flex;
	justify-content: center;
	flex-flow: column-reverse;
	margin-top: 4rem;
}

#see-more-btn {
	background-color: $white;
	cursor: pointer;
	border: none;
}

.no-result-img {
	display: none;
	position: relative;
	top: -3rem;
	background-color: $white;
	body.dark-mode-colors & {
		transition: 1s ease all;
		-webkit-transition: 1s ease all;
		-moz-transition: 1s ease all;
		-ms-transition: 1s ease all;
		-o-transition: 1s ease all;
		background-color: $medium-grey;
	}
}

.no-p {
	position: relative;
	font-weight: 700;
	font-size: $font-size-twtw;
	margin-bottom: 2rem;
	color: $cyan;
}

.no-result-p {
	top: -3rem;
	display: none;
}

.no-favs-p {
	top: 5rem;
	max-width: 28rem;
	margin: 0 auto;
}

.no-favs-img {
	position: relative;
	top: -10rem;
}

.gif-btn-active {
	position: absolute;
	left: 0.85rem;
	width: 16px;
}

.hidden {
	display: none;
}

.visible {
	display: unset;
}

.ceroopacity {
	opacity: 0%;
}

.heart-active-position {
	position: relative;
	top: -1.7rem;
}

.fullopacity {
	opacity: 100%;
}
/*-------------------------Input Barra Search-----------------------------------------------------*/

#input-nav-container {
	left: -15%;
	width: 22rem;
}

#input-text-nav {
	position: relative;
	left: 10%;
	width: 70%;
}

.input-search-container {
	right: 7%;
	width: 18rem;
}

.input-container {
	position: relative;
	border: 1px solid $violet;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	padding: 1rem;
	z-index: 1;

	body.dark-mode-colors & {
		border: 1px solid $white;
	}
}

input {
	font-family: $font-family-roboto;
	font-size: $font-size-sxtn;
	font-weight: 400;
	padding: 0 2%;
	border: none;
	z-index: 5;
	body.dark-mode-colors & {
		background-color: $medium-grey;
		color: $light-grey;
	}
	&:focus {
		outline: none;
	}
	ul li {
		background-color: $cyan;
	}
}

#input-text {
	padding: 0 3rem;
	width: 65%;
	position: relative;
}

#button-search-nav-cross {
	position: absolute;
	left: 18rem;
	top: 0.2rem;
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	opacity: 0%;
	cursor: pointer;
	z-index: 2;
}

#button-search,
#button-search-nav,
#button-search-cross {
	position: absolute;
	left: 15.5rem;
	top: 0.2rem;
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	opacity: 0%;
	cursor: pointer;
	z-index: 2;
}

.inner-addon .fa-search {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

.right-addon .fa-search {
	right: 0px;
}

#search-section {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 0;
	justify-items: center;
	padding: 0rem 1rem;
	margin-bottom: 7rem;
}

#search-img {
	max-width: 273px;
	margin-top: 2rem;
}

.inner-addon {
	position: relative;
}

.fa-search {
	margin: 5px;
	fill: $violet;
	width: 20px;
	height: 20px;
	z-index: 2;
	left: 85%;

	body.dark-mode-colors & {
		fill: $white;
	}
}

/*-------------------------Input Barra Search FIN-------------------------------------------------*/

/*-----------------------------Input Suggestions--------------------------------------------------*/
.autocomplete {
	position: relative;
	display: inline-block;
	font-family: $font-family-roboto;
	font-size: $font-size-sxtn;
	width: 18rem;
	color: $light-grey;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid $violet;
	background-color: $white;
	border-top: none;
	width: 100%;
	padding: 5% 0;
	top: 50%;
	right: -0.25%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

header nav .autocomplete-items {
	z-index: -1;
}

.autocomplete-items div {
	padding: 0.4rem;
	cursor: pointer;
	background-color: #fff;
}

.autocomplete-active {
	color: $violet;
}

.autocomplete-element {
	display: flex;
	& :hover {
		width: 100%;
		color: $white;
		background-color: $violet;
	}
}

.autocomplete-word {
	width: 40%;
}

.autocomplete-img {
	width: 1rem;
	margin: 0 1rem;
}

.autocomplete-hr {
	margin: 0 2rem;
	border-top: 1px solid $light-grey;
}

.cross-search {
	margin-top: 0.4rem;
}

.switch-position {
	position: relative;
	right: 90%;
}

.original-position {
	position: initial;
	right: auto;
}

/*----------------------Favoritos & Mis GIFOS-----------------------------------------------------*/

#favoritos-heart,
#gifos-smile {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	img {
		width: 2rem;
	}
}

/*----------------------Crear GIFOS---------------------------------------------------------------*/

#cam-crear-gifos {
	margin: 1rem 0;
	flex-flow: column wrap;
	align-items: center;
}

#cam-box-container {
	border: 1px solid $violet;
	width: 20rem;
	height: 14.3rem;
}

#cam-status {
	width: 43rem;
}

#cam-steps-nums {
	margin: 1rem 2rem;
	svg {
		margin: 0 1rem;
	}
}

#cam-line {
	width: 10rem;
	border: 4px solid $violet;
	border-radius: 5rem;
	-webkit-border-radius: 5rem;
	-moz-border-radius: 5rem;
	-ms-border-radius: 5rem;
	-o-border-radius: 5rem;
}

#btn-results-grabar {
	margin: 1rem 0;
}

#cam-camicon {
	position: relative;
	top: 10rem;
	left: 2rem;
	width: 50%;
}

#cam-lighticon {
	position: relative;
	opacity: 70%;
	left: 2rem;
	top: 10.4rem;
	width: 45%;
}

#cam-icon {
	width: 100%;
}

.cam-container {
	display: none;
}

#cam-filmicon {
	position: relative;
	top: 26rem;
	left: -2.5rem;
	opacity: 70%;
}

#cam-cintone {
	position: relative;
	top: 13rem;
	left: 1.2rem;
	width: 25%;
}

#cam-cinttwo {
	position: relative;
	top: 13rem;
	left: 1rem;
	width: 35%;
}
