.container {
	width: 80%;
	height: 400px;
	margin: 0 auto;
	position: relative;
}

.carousel-container {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.carousel {
	padding: 0;
	margin: 0;
	list-style: none;
	transition: 300ms transform ease-in;
	display: inline-flex;
}

.slide {
	padding: 0;
	margin: 10px;
	width: 100%;
	height: 100%;
}

.slide img {
	padding: 0;
	margin: 0;
	width: 243px;
	height: 187px;
	object-fit: cover;
}

.btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	padding: 10px 10px 8px 10px;
	border: 1px solid $violet;
	cursor: pointer;
	&:hover {
		background-color: $violet;
	}
}

.btn img {
	width: 20px;
	height: 20px;
	&:hover {
		color: $white;
	}
}

.left-btn {
	left: -35px;
}

.right-btn {
	right: -35px;
}

.hide {
	display: none;
}
