#trending-gifos {
	margin-top: 2rem;
	padding: 2rem 0;
	background-color: $white;
	transition: 3s ease all;
	-webkit-transition: 3s ease all;
	-moz-transition: 3s ease all;
	-ms-transition: 3s ease all;
	-o-transition: 3s ease all;
	body.dark-mode-colors & {
		background-color: $dark-grey;
	}
}

.carousel-container {
	height: 100%;
	align-content: center;
}

.btn {
	width: 40px;
	height: 40px;
	position: relative;
	top: 50%;
	visibility: hidden;
	transform: translateY(-50%);
	background: transparent;
	padding: 10px 10px 8px 10px;
	border: 1px solid $violet;
	cursor: pointer;
	body.dark-mode-colors & {
		border: 1px solid $white;
	}
}

.btn img {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 12px;
	left: 12px;
	right: 12px;
}

.btn .btn-hover {
	position: absolute;
	width: 40px;
	height: 40px;
	top: -1px;
	left: 0px;
	right: 0px;
	opacity: 0%;
	&:hover {
		opacity: 100%;
	}
}

/*----------------SEGUNDA VERSIÓN-----------------------------------------------------------------*/

#trending-carousel {
	margin: 2rem 0rem;
	display: flex;
	width: 100%;
	max-width: 1500px;
	overflow-x: scroll;

	.gif-card {
		position: relative;
		margin: 0 0.5rem;
		width: 243px;
		height: 187px;
	}

	.gif-giphy {
		scroll-snap-type: x mandatory;
		width: 243px;
		height: 187px;
		object-fit: cover;
		scroll-snap-align: center;
	}
}
