#search-results-container {
	padding: 0 1rem;
	max-height: 50rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 1rem;
	justify-items: center;
}

.gif-giphy,
.gif-card {
	width: 156px;
	height: 120px;
	position: relative;
}

.gif-buttons-container {
	top: 0.5rem;
	right: 0.5rem;
	display: inline-flex;
	position: absolute;
	opacity: 0%;
}

.card-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.3rem;
	height: 2.3rem;
	margin: 0 0.2rem;
	border: 1px solid $violet;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	cursor: pointer;
}

.gif-username {
	font-family: $font-family-roboto;
	font-size: $font-size-fitn;
	position: absolute;
	text-align: left;
	bottom: 70px;
	left: -45px;
	color: $white;
	opacity: 0;
}

.gif-title {
	font-family: $font-family-roboto;
	font-size: $font-size-sxtn;
	font-weight: 700;
	position: absolute;
	text-align: left;
	bottom: 20px;
	left: -45px;
	color: $white;
	opacity: 0;
}
