@media screen and (min-width: 768px) {
	/*------------------Carousel--------------------------------------------------------------------*/
	#carousel-container {
		margin: 0rem 5.2rem;

		.btn {
			visibility: visible;
			margin: 0 1rem;
		}

		#trending-carousel {
			display: flex;
			width: 100%;
			max-width: 1500px;
			overflow-x: scroll;

			.gif-card {
				position: relative;
				margin: 0 0.5rem;
				width: 357px;
				height: 275px;
			}

			.gif-giphy {
				width: 357px;
				height: 275px;
				object-fit: cover;
			}
		}
	}
	#trending-carousel::-webkit-scrollbar {
		display: none;
	}

	/*------------------Cards-----------------------------------------------------------------------*/

	.gif-card:hover {
		background-color: $violet;
		cursor: pointer;
		.gif-buttons-container,
		.gif-username,
		.gif-title {
			opacity: 100%;
		}
		.gif-giphy {
			opacity: 50%;
		}
	}

	/*------------------Search----------------------------------------------------------------------*/
	section {
		#search-results-container {
			margin: 2rem;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);

			.gif-giphy,
			.gif-card {
				width: 230px;
				height: 174px;
			}
		}
	}
}

@media screen and (min-width: 1400px) {
	/*------------------Carousel--------------------------------------------------------------------*/

	#trending-carousel .gif-giphy {
		width: 357px;
		height: 275px;
	}

	/*------------------Nav-------------------------------------------------------------------------*/

	header {
		padding: 0 9.75rem;
		nav {
			#nav-creargifos-btn {
				display: unset;
			}

			#nav-creargifos-link {
				display: none;
			}

			.crear-gifos-hover {
				display: unset;
				position: relative;
				left: -58px;
				cursor: pointer;
				opacity: 0%;
				&:hover {
					opacity: 100%;
				}
			}

			.nav-box-one {
				padding: 18px 22px 22px 22px;
			}

			.nav-box-two {
				padding: 0;

				ul {
					position: relative;
					top: 0;
					right: -8%;
					width: unset;
					overflow: hidden;
					background: unset;
					height: unset;
					display: flex;
					align-items: center;

					body.dark-mode-colors & {
						background: none;
						opacity: 100%;
					}

					li:first-child {
						margin-top: 0;
					}

					li {
						padding-left: 50px;
						display: inline-block;

						hr {
							display: none;
						}

						a {
							padding: unset;
							line-height: unset;
							color: $violet;
							body.dark-mode-colors & {
								color: $white;
								opacity: 100%;
							}
							&:active {
								color: rgba(6, 10, 36, 0.56);
							}
						}
					}
				}

				input {
					display: none;
				}

				span {
					display: none;
				}
			}
		}
	}

	/*---------------Body General-------------------------------------------------------------------*/

	h1 {
		font-size: $font-size-foty;
		line-height: 3.125rem;
		max-width: 45rem;
	}

	h2 {
		font-size: $font-size-thty;
		line-height: 3.75rem;
	}

	h4 {
		font-size: $font-size-sxtn;
		line-height: 1.563rem;
	}

	section {
		p {
			font-size: $font-size-sxtn;
		}
	}

	/*------------------Cards-----------------------------------------------------------------------*/

	.gif-card:hover {
		background-color: $violet;
		cursor: pointer;
		.gif-buttons-container,
		.gif-username,
		.gif-title {
			opacity: 100%;
		}
		.gif-giphy {
			opacity: 50%;
		}
	}

	/*------------------Search----------------------------------------------------------------------*/
	section {
		#search-results-container {
			margin: 0 12rem;
			display: grid;
			grid-template-columns: repeat(4, 2fr);
			grid-template-rows: repeat(3, 1fr);
			grid-gap: 2rem;
		}
	}

	/*-----------------Trending---------------------------------------------------------------------*/

	#trending-gifos {
		br {
			display: none;
		}
		p {
			font-size: $font-size-ettn;
		}
	}

	/*------------------Footer----------------------------------------------------------------------*/

	footer {
		flex-direction: row;
		justify-content: space-between;
		padding: 0 9.75rem;
		.social {
			flex-direction: row;
			p {
				margin-right: 1.5rem;
			}
		}
	}
}

@media screen and (min-width: 1700px) {
	/*------------------Search----------------------------------------------------------------------*/

	section {
		#search-results-container {
			margin: 0 10%;
			display: grid;
			grid-template-columns: repeat(4, 2fr);
			grid-template-rows: repeat(3, 2fr);
			grid-gap: 1rem;

			.gif-card {
				width: 320px;
				height: 242px;
			}

			.gif-giphy {
				padding: 0;
				margin: 0;
				width: 320px;
				height: 242px;
				object-fit: cover;
			}
		}
	}
}
