@charset "UTF-8";
/*Colors*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
h1 {
  width: 80%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: 0;
  line-height: 2.625rem;
  margin-bottom: 0; }

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.625rem;
  margin: 1rem; }

h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0; }

p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0; }

/* PADDINGS Y MARGINS */
/* BUTTONS */
.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin: 2rem 0rem;
  padding: 1rem 0rem;
  border: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #060a24;
  background-color: #00f3bb;
  -webkit-transition: 0.45s;
  transition: 0.45s; }
  .button:hover {
    color: #ffffff;
    background-image: linear-gradient(70deg, #00f3bb, #0000ff); }

body {
  margin: 0;
  padding: 0% 0%;
  box-sizing: border-box; }

.nosotros-text h2 {
  margin: 1rem 0rem; }

.section-white {
  margin: 0 1rem;
  padding-top: 3rem;
  color: #ffffff; }

a {
  text-decoration: none; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 1rem; }

.topic {
  width: 200px;
  text-align: center;
  padding: 1rem;
  margin: 0rem auto; }

iframe {
  width: 100%;
  height: 14.5rem;
  border: none;
  margin: 0.5rem 0;
  transition: 0.45s;
  -webkit-transition: 0.45s;
  -moz-transition: 0.45s;
  -ms-transition: 0.45s;
  -o-transition: 0.45s; }
  iframe:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 1px 4px 19px -5px rgba(0, 0, 0, 0.75); }

.entrevistas-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0; }
  .entrevistas-container img {
    width: 100%; }

.line-through {
  text-decoration: line-through; }

#novedades {
  text-align: center; }

#nosotros #phone {
  position: relative;
  top: -7rem;
  margin-bottom: -6rem; }
  #nosotros #phone img {
    max-width: 300px; }

#introduccion {
  margin: 0rem 1rem; }

#p-lg {
  display: none; }

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ffffff;
  padding: 1rem; }
  header nav {
    display: flex;
    justify-content: space-between;
    /*ANIMACIÓN DE LA CRUZ*/ }
    header nav ul {
      background: #0000ff;
      width: 100%;
      position: absolute;
      top: 3.5rem;
      right: 0;
      overflow: hidden;
      list-style: none;
      height: 0px; }
      header nav ul li {
        position: relative;
        text-align: left;
        list-style: none; }
        header nav ul li a {
          font-family: "IBM Plex Mono", monospace;
          font-size: 1rem;
          color: #ffffff;
          line-height: 28px;
          position: relative;
          padding: 0.9rem 1rem;
          display: block; }
          header nav ul li a:hover {
            text-decoration: line-through;
            color: #00f3bb; }
          header nav ul li a:active {
            color: rgba(6, 10, 36, 0.56); }
    header nav .nav-logo {
      width: 36px;
      height: 36px; }
    header nav .nav-box-one {
      background-color: #ffffff; }
    header nav .nav-box-two {
      padding-top: 10px;
      /*CHECKBOX*/
      /*LINEAS DE MENU HAMBURGUESA*/ }
      header nav .nav-box-two input[type="checkbox"]:checked ~ ul {
        height: 224px; }
      header nav .nav-box-two input {
        display: block;
        top: 15px;
        right: 5px;
        height: 32px;
        width: 40px;
        opacity: 0;
        z-index: 2;
        position: absolute; }
      header nav .nav-box-two span {
        display: block;
        width: 25px;
        height: 2.5px;
        margin-bottom: 6.5px;
        background: #060a24;
        z-index: 1;
        transform-origin: 3px 0px; }
      header nav .nav-box-two span:first-child {
        transform-origin: 0% 0%; }
      header nav .nav-box-two span:nth-last-child(2) {
        transform-origin: 0% 100%; }
    header nav input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(2px, 1px); }
    header nav input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    header nav input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(1px, 0px); }

/*CONTENEDORES DE GRADIENTE */
.gradient-container-one {
  height: 80rem;
  background-image: linear-gradient(to bottom, #0000ff, #0000a3);
  clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%); }

.gradient-container-two {
  height: 21.31rem;
  background-image: linear-gradient(to bottom, #0000ff, #0000a3);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin: 1.5rem 0;
  text-align: center; }
  footer .social {
    display: flex;
    justify-content: center; }
  footer .social a {
    color: #060a24;
    font-size: 1.125rem;
    margin-left: 1.25rem;
    padding: 0.5rem;
    -webkit-transition: 0.45s;
    transition: 0.45s; }
    footer .social a:hover {
      -moz-transform: scale(1.4);
      -webkit-transform: scale(1.4);
      -o-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
      color: #00f3bb; }
  footer .social a:first-child {
    margin-left: 0;
    padding-left: 0; }
  footer .social a:last-child {
    padding-right: 0; }

/* MEDIAS */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
    width: 100%; }

  h2 {
    margin: 1rem 3rem; }

  p {
    font-size: 1rem; }

  .btn {
    width: unset;
    padding: 1rem 4rem; }

  .container {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 4rem; }

  .section-white {
    margin: 0 3rem;
    padding-top: 3rem; }

  .entrevistas-container {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 4rem; }

  #nosotros {
    flex-direction: row; }
    #nosotros #phone {
      top: -8rem;
      margin-bottom: -10rem; }
      #nosotros #phone img {
        max-width: 330px; }
    #nosotros .nosotros-text {
      max-width: 300px; }

  #introduccion {
    margin: 0rem 3rem; } }
@media screen and (min-width: 1220px) {
  h1 {
    font-size: 4rem;
    width: 100%; }

  h2 {
    font-size: 3rem;
    margin: 1rem 10rem; }

  .blue-dot {
    color: #0000ff; }

  .button {
    font-size: 1.125rem; }

  .section-white {
    margin: 0 10rem; }

  .container {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1rem;
    margin-bottom: 4rem; }

  .topic:first-child {
    margin-left: 10rem; }

  .topic:last-child {
    margin-right: 10rem; }

  /* NAV */
  header {
    padding: 1.63rem 6.25rem; }
    header nav {
      align-items: center; }
      header nav .nav-box-two {
        padding-top: 0px; }
        header nav .nav-box-two ul {
          position: relative;
          top: 0;
          right: 0;
          width: unset;
          overflow: hidden;
          background: unset;
          height: unset; }
          header nav .nav-box-two ul li {
            padding-left: 50px;
            display: inline-block; }
            header nav .nav-box-two ul li a {
              padding: unset;
              line-height: unset;
              color: #060a24; }
              header nav .nav-box-two ul li a:hover {
                text-decoration: line-through;
                color: #00f3bb; }
              header nav .nav-box-two ul li a:active {
                color: rgba(6, 10, 36, 0.56); }
        header nav .nav-box-two input {
          display: none; }
        header nav .nav-box-two span {
          display: none; }

  .gradient-container-one {
    height: unset;
    padding: 8rem 0;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); }

  .gradient-container-two {
    height: unset;
    padding: 8rem 0;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%); }

  #p-sm {
    display: none; }

  #p-lg {
    display: block;
    max-width: 60%; }

  /* GENERALES */
  iframe {
    margin: 2rem 2.4rem;
    max-width: 40%; }

  .entrevistas-container {
    grid-template-columns: repeat(3, 1fr); }

  #nosotros {
    flex-direction: row;
    padding: 0rem 10rem; }
    #nosotros #phone {
      top: -8rem; }
      #nosotros #phone img {
        max-width: 458px; }
    #nosotros .nosotros-text {
      max-width: 400px; }

  #introduccion {
    margin: 2rem 12rem;
    padding-top: 3rem; }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10rem; } }

/*# sourceMappingURL=styles.css.map */
